global:
  scrape_interval: 10s
  evaluation_interval: 10s

scrape_configs:
  - job_name: 'api-gateway'
    metrics_path: '/actuator/prometheus'
    static_configs:
     - targets: ['apigateway:8080']

  - job_name: 'chat-servers-proxy'
    metrics_path: '/api/metrics'

    eureka_sd_configs:
      - server: http://host.docker.internal:8761/eureka
        refresh_interval: 30s

    relabel_configs:
      - source_labels: [__meta_eureka_app_name]
        regex: APIGATEWAY
        action: drop

      - source_labels: [__meta_eureka_app_name]
        target_label: application
      - source_labels: [__meta_eureka_app_instance_id]
        target_label: instance

      - source_labels: [__meta_eureka_app_name]
        target_label: __metrics_path__
        regex: (.*)
        replacement: /servers/${1}/metrics

      - target_label: __address__
        replacement: host.docker.internal:8080